<div class="edit-form-container">
    <div class="row">
        <div class="col-md-12">
            <div class="item-container">
                <div class="data-form">
                    <div class="form-heading">
                        <h2>Update Category</h2>
                    </div>									

                    <form role="form" id="edit-category-form">
                        <input type="hidden" value="{{category.id}}" name="id" />
                        <div class="form-group">
                            <label for="">Name:</label>
                            <input type="textbox" value="{{category.name}}"name="name" class="form-control" placeholder="Name">
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="">Description:</label>
                            <input type="textbox" value="{{category.description}}" name="description" class="form-control" placeholder="Description">
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="">Image URL:</label>
                            <input type="file" value="{{category.imageUrl}}" name="imageUrl" class="form-control" placeholder="Image URL">
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="">CSS Class:</label>
                            <input type="textbox" value="{{category.cssClass}}"name="cssClass" class="form-control" placeholder="CSS Class">
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="">Activate:</label>
                            <select name="isActive">
                                <option selected="selected" value="true">True</option>
                                <option value="false">False</option>
                            </select>
                            <div class="clearfix"></div>
                        </div>
                        <button type="button" class="btn btn-default" id="edit-category">Submit</button>
                        <a href="/categories/list" title="Cancel" class="btn btn-default">Cancel</a>
                     </form>									
                </div>                
            </div>
        </div>
    </div>
</div>
