<div class="edit-form-container">
    <div class="row">
        <div class="col-md-12">
            <div class="item-container">
                <div class="data-form">
                    <div class="form-heading">
                        <h2>Add Classification</h2>                        
                    </div>
                    <form role="form" method="post" action="/categories/{{categoryId}}/classification" id="add-category-classification-form">
                        {{#if msg}}
                            
                            <div class="form-group">
                                <label for="">&nbsp;</label>
                                <p class="error msg">{{msg}}</p>
                                <div class="clearfix"></div>
                            </div>
                        {{/if}}
                        <div class="form-group">
                            <label for="">Name:</label>
                            <select name="classification" class="required form-control">
                                {{#each classifications}}
                                    <option value="{{this.name}}">{{this.name}}</option>                                
                                {{/each}}
                            </select>
                            <div class="clearfix"></div>
                        </div>
                        
                        <button type="button" class="btn btn-default" id="add-category-classification">Submit</button>
                        <a href="/categories/categoryDetails/{{categoryId}}" title="Cancel" class="btn btn-default">Cancel</a>
                        
                    </form>
                    
                    
                </div>                
            </div>
        </div>
    </div>
</div>
