<div class="cat-list">
	<div class="item-container">
		<table>
			<tr>
				<th>Category Name</th>
				<th>Description</th>
				<th class="list-action">Action</th>
				<th><a href="#" class="add-category"><span class="icon-plus"></span></a></th>
			</tr>
			{{#each activeCategories}}
			<tr>
				<td>
					<span class="icon"></span>{{this.name}}
				</td>
				<td>
                    <p class="cat-desc">{{this.description}}</p>
				</td>
				<td>
					<div class="delete-edit-container">                        
                        <input type="hidden" value="{{this.id}}" id="category_id"/>
                        <a href="/categories/categoryDetails/{{this.id}}" class="edit" title="Edit Category">Edit</a> /
                        <a href="#" class="delete" title="Delete Category" imageUrl = "{{this.imageUrl}}">Delete</a> / 
                        <a href="/categories/categoryView/{{this.name}}" class="view" title="View Category">View</a>
                    </div>
				</td>
			</tr>
			{{/each}}
		</table>
	</div>    
</div>
<div class="add-form-container">
    <div class="row">
        <div class="col-md-12">
            <div class="item-container">
                <div class="data-form">
                    <div class="form-heading">
                        <h2>Add Category</h2>
                    </div>
                    <form role="form" method="post" id="add-category-form" action="/categories/category/" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="">Name:</label>
                            <input type="textbox" name="name" class="form-control required" placeholder="Name">
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="">Description:</label>
                            <input type="textbox" name="description" class="form-control" placeholder="Description">
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="">Short Description:</label>
                            <input type="textbox" name="short_desc" class="form-control" placeholder="Short Description">
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="">Image URL:</label>
                            <input type="file" accept="image/*" name="imageUrl" id="imageUrl" class="form-control" placeholder="Image URL">                            
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="">Classifications:</label>
                            <select name="classification" class="required form-control" size="3" multiple="multiple">
                                {{#each activeClassifications}}
                                    <option value="{{this.name}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="">Activate:</label>
                            <select name="isActive" class="required form-control" >
                                <option selected="selected" value="true">True</option>
                                <option value="false">False</option>
                            </select>
                            <div class="clearfix"></div>
                        </div>
                        <button type="submit" class="btn btn-default" id="add-new-category">Submit</button>
                        <button type="button" class="cancel-category-addition btn btn-default">Cancel</button>
                     </form>
                    <div class="image-preview">
                        Priview
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
