


<div class="edit-form-container">
    <div class="row">
        <div class="col-md-12">
            <div class="item-container">
                <div class="data-form">
                    <input type="hidden" value="{{productId}}" id="productId" name="id"/>
                    <div class="product-package-details">
                        <div class="">
                            <h3 class="heading1">
                                Package Details
                                <a href="/../products/{{productId}}/tariff/{{productTariff.id}}/tariff-update" class="add-tariff-details"><span class="icon-pencil"></span></a>
                            </h3>
                            <div class="clearfix"></div>
                            <ul>
                                <li>
                                    <label>Title:</label> {{productPackage.title}}
                                </li>
                                <li>
                                    <label>Cost:</label> {{productPackage.cost}}
                                </li>
                                <li>
                                    <label>Description:</label>{{productPackage.description}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="vacay-section">
                        <h3 class="heading1">
                            Associated Price Rules
                            <div class="packageMsg pull-right"></div>                            
                        </h3>
                        <div class="pricerule-list" data-selected-list="{{#each productPackage.pricerules}}{{this.priceRuleId}},{{/each}}">
                            <input type="hidden" id="packageId" value="{{productPackage._id}}"/>
                            <ul>
                                {{#each priceRuleList}}
                                    <li><input id="{{this._id}}" type="checkbox" value="{{this._id}}"/>{{this.priceRuleType}} - Price Rule - {{this.price}} ({{this.priceType}})</li>
                                {{/each}}
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        

                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
