<div class="product-view">
    <div class="item-container">
        <div class="product-genaral-details">
            <input type="hidden" name="id" value="{{product.id}}" id="productId"/>
            <div class="product-name">
                <h3 class="heading1">
                    Product Details
                    <a href="../productDetails/{{product.id}}" class="edit-general-details"><span class="icon-pencil"></span></a>
                </h3>

                <div class="clearfix"></div>
                <ul>
                    <li>
                        <label>Name:</label>{{product.city}}
                    </li>
                    <li>
                        <label>Description:</label>{{product.description}}
                    </li>
                    <li>
                        <label>City:</label>{{product.city}}
                    </li>
                    <li>
                        <label>State:</label>{{product.state}}
                    </li>
                    <li>
                        <label>Email Address:</label>{{product.emailAddress}}
                    </li>
                    <li>
                        <label>Category:</label>{{product.category}}
                    </li>
                    <li>
                        <label>Is Active:</label>{{product.is_active}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="product-image-details">
            <div class="product-name">
                <h3 class="heading1">
                    Product Images
                    <a href="../{{product.id}}/{{product.category}}/add-new-image" class="edit-address-details"><span class="icon-plus"></span></a>
                </h3>
                <table class="vacay-table">
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Caption</th>
                        <th>Title</th>
                        <th>Sort Order</th>
                        <th>Category</th>
                        <th class="vacay-action">Action</th>
                    </tr>
                    {{#each product.images}}
                    <tr>
                        <td><img src="/uploads/{{../product.category}}/{{this.imageUrl}}" height=50/></td>
                        <td>{{this.imageUrl}}</td>
                        <td>{{this.captionText}}</td>
                        <td>{{this.title}}</td>
                        <td>{{../product.category}}</td>                        
                        <td>{{this.sortOrder}}</td>
                        <td>
                            <div class="delete-edit-container">
                                <a href="../{{../product.id}}/image/{{this._id}}/{{../product.category}}" class="edit" title="Edit the row">Edit</a> /
                                <a href="/{{../product.id}}/{{../product.category}}/image/{{this._id}}/{{this.imageUrl}}" class="delete" title="Delete the row">Delete</a>
                            </div>
                        </td>
                    </tr>

                    {{/each}}
                </table>


                <div class="clearfix"></div>

            </div>
        </div>

        <div class="product-address-details">

            <div class="product-address-details">

                <h3 class="heading1">
                    Address Details
                    <a href="../{{product.id}}/add-new-address" class="edit-address-details"><span class="icon-plus"></span></a>
                </h3>
                <div class="clearfix"></div>

                    <table class="vacay-table">
                        <tr>
                            <th>Address</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Postal Code</th>
                            <th class="vacay-action">Action</th>
                        </tr>
                        {{#each product.addresses}}
                        <tr>
                            <td>{{this.address1}},{{this.address2}}</td>
                            <td>{{this.city}}</td>
                            <td>{{this.state}}</td>
                            <td>{{this.postalCode}}</td>
                            <td>
                                <div class="delete-edit-container">
                                    <a href="../{{../product.id}}/addresses/{{this._id}}" class="edit" title="Edit the row">Edit</a> /
                                    <a href="/{{../product.id}}/address/{{this._id}}" class="delete" title="Delete the row">Delete</a>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="product-address-details">

            <div class="product-address-details">

                <h3 class="heading1">
                    Classifications Details
                    <a href="../{{product.id}}/classification" class="edit-address-details"><span class="icon-plus"></span></a>
                </h3>
                <div class="clearfix"></div>

                    <table class="vacaytable">
                        <tr>
                            <th>Name</th>
                            <th class="vacay-action">Action</th>
                        </tr>
                        {{#each product.classifications}}
                        <tr>

                            <td>{{this.name}}</td>
                            <td>
                                <div class="delete-edit-container">
                                    <a href="../{{../product.id}}/productclassification/{{this._id}}" class="delete" title="Delete the row">Delete</a>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="product-phonenumber-details">
            <div class="">
                <h3 class="heading1">
                    Phone Details
                    <a href="../{{product.id}}/add-new-phoneNumber" class="add-phoneNumber-details"><span class="icon-plus"></span></a>
                </h3>
                <div class="clearfix"></div>
                        <table class="vacay-table">
                            <tr>
                                <th>Contact Name</th>
                                <th>Contact Number</th>
                                <th class="vacay-action">Action</th>
                            </tr>
                            {{#each product.phoneNumbers}}
                            <tr>
                                <td>{{this.contactType}}</td>
                                <td>{{this.contactNumber}}</td>
                                <td>
                                    <div class="delete-edit-container">
                                        <a href="../{{../product.id}}/phone/{{this._id}}" class="edit" title="Edit the row">Edit</a> /
                                        <a href="/{{../product.id}}/phoneNumber/{{this._id}}" class="delete" title="Delete the row">Delete</a>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </table>


            </div>
        </div>

        <div class="product-facility-details">
            <div class="">
                <h3 class="heading1">
                    Facilities Details
                    <a href="../{{product.id}}/add-new-facility" class="add-facility-details"><span class="icon-plus"></span></a>
                </h3>
                <div class="clearfix"></div>
                        <table class="vacay-table">
                            <tr>
                                <th>Facility Type</th>
                                <th>Facility Description</th>
                                <th class="vacay-action">Action</th>
                            </tr>
                            {{#each product.facilities}}
                            <tr>
                                <td>{{this.facilityType}}</td>
                                <td>{{this.facilityDescription}}</td>
                                <td>
                                    <div class="delete-edit-container">
                                        <a href="../{{../product.id}}/facility/{{this._id}}" class="edit" title="Edit the row">Edit</a> /
                                        <a href="/{{../product.id}}/facilities/{{this._id}}" class="delete" title="Delete the row">Delete</a>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </table>


            </div>
        </div>

        <div class="product-tariffs-details">
            <div class="">
                <h3 class="heading1">
                    Tariffs Details
                    <a href="../{{product.id}}/add-new-tariff" class="add-tariff-details"><span class="icon-plus"></span></a>
                </h3>
                <div class="clearfix"></div>


                        <!--<div class="tariffs-container">
                            <div class="delete-edit-container pull-right">
                                <a href="../{{../product.id}}/tariff/{{this._id}}" class="edit" title="Edit the row">Edit</a> /
                                <a href="/{{../product.id}}/tariff/{{this._id}}" class="delete" title="Delete the row">Delete</a>
                            </div>
                            <p><label>Cost: </label>Rs.{{this.cost}}.00</p>
                            <p><label>Description: </label>{{this.description}}</p>
                            <div class="clearfix"></div>
                        </div>-->
                        <table class="vacay-table">
                            <tr>
                                <th>Displayed Cost</th>
                                <th>Net Cost</th>
                                <th>Description</th>
                                <th class="vacay-action">Action</th>
                            </tr>
                            {{#each product.tariffs}}
                            <tr>
                                <td>{{this.currency}} {{this.displayedCost}}.00</td>
                                <td>{{this.currency}} {{this.netCost}}.00</td>
                                <td>{{this.description}}</td>
                                <td>
                                    <div class="delete-edit-container">
                                        <a href="../{{../product.id}}/tariff/{{this._id}}/tariff-view" class="edit" title="Edit the row">Edit</a> /
                                        <a href="/{{../product.id}}/tariff/{{this._id}}" class="delete" title="Delete the row">Delete</a>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </table>


            </div>
        </div>

        <div class="product-amenities-details">
            <div class="">
                <h3 class="heading1">
                    Amenities Details
                    <a href="../{{product.id}}/add-new-amenity" class="add-amenity-details"><span class="icon-plus"></span></a>
                </h3>
                <div class="clearfix"></div>


                        <!--<div class="amenities-container">
                            <div class="delete-edit-container pull-right">
                                <a href="../{{../product.id}}/amenity/{{this._id}}" class="edit" title="Edit the row">Edit</a> /
                                <a href="/{{../product.id}}/amenity/{{this._id}}" class="delete" title="Delete the row">Delete</a>
                            </div>
                            <p><label>Description: </label>{{this.description}}</p>
                        </div>-->
                        <table class="vacay-table">
                            <tr>
                                <th>Description</th>
                                <th class="vacay-action">Action</th>
                            </tr>
                            {{#each product.amenities}}
                            <tr>
                                <td>{{this.description}}</td>
                                <td>
                                    <div class="delete-edit-container">
                                        <a href="../{{../product.id}}/amenity/{{this._id}}" class="edit" title="Edit the row">Edit</a> /
                                        <a href="/{{../product.id}}/amenity/{{this._id}}" class="delete" title="Delete the row">Delete</a>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </table>


            </div>
        </div>

        <div class="product-tnc-details">
            <div class="">
                <h3 class="heading1">
                    Terms and Conditions Details
                    <a href="../{{product.id}}/add-new-termsAndConditions" class="add-termsAndConditions-details"><span class="icon-plus"></span></a>
                </h3>
                <div class="clearfix"></div>


                        <!--<div class="tnc-container">
                            <div class="delete-edit-container pull-right">
                                <a href="../{{../product.id}}/termsAndConditions/{{this._id}}" class="edit" title="Edit the row">Edit</a> /
                                <a href="/{{../product.id}}/termsAndCondition/{{this._id}}" class="delete" title="Delete the row">Delete</a>
                            </div>
                            <p><label>Description: </label>{{this.description}}</p>
                        </div>-->
                        <table class="vacay-table">
                            <tr>
                                <th>Description</th>
                                <th class="vacay-action">Action</th>
                            </tr>
                            {{#each product.termsAndConditions}}
                            <tr>
                                <td>{{this.description}}</td>
                                <td>
                                    <div class="delete-edit-container">
                                        <a href="../{{../product.id}}/termsAndConditions/{{this._id}}" class="edit" title="Edit the row">Edit</a> /
                                        <a href="/{{../product.id}}/termsAndCondition/{{this._id}}" class="delete" title="Delete the row">Delete</a>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </table>


            </div>
        </div>
    </div>
</div>
<div class="confirm-alert-container">
    <div class="overlay"></div>
    <div class="cofirmation-alert">
        <p class="alertMesg"></p>
        <p>
            <input type="button" value="Delete" class="confirm-delete btn btn-success"/>
            <input type="button" value="Cancel" class="confirm-cancel btn btn-warning"/>
        </p>
    </div>
</div>
