<div class="edit-form-container">
    <div class="row">
        <div class="col-md-12">
            <div class="item-container">
                <div class="data-form">
                    <div class="form-heading">
                        <h2>Update Product Details</h2>
                    </div>
                    <form role="form" id="edit-product-form">
                        <input type="hidden" value="{{product.id}}" name="id" />
                        <div class="form-group">
                            <label for="">Name:</label>
                            <input type="textbox" value="{{product.name}}" name="name" class="form-control required" placeholder="Name">
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="">Description:</label>
                            <input type="textbox" value="{{product.description}}" name="description" class="form-control required" placeholder="Description">
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="">Email:</label>
                            <input type="email" value="{{product.emailAddress}}" name="emailAddress" class="form-control required email" placeholder="Email">
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="">Activate:</label>
                            <select name="is_active">
                                <option selected="selected" value="true">True</option>
                                <option value="false">False</option>
                            </select>
                            <div class="clearfix"></div>
                        </div>
                        <button type="button" class="btn btn-default" id="edit-product">Submit</button>
                        <a href="/products/product/{{product.id}}" title="Cancel" class="btn btn-default">Cancel</a>
                     </form>									
                </div>                
            </div>
        </div>
    </div>
</div>
