<div class="edit-form-container">
    <div class="row">
        <div class="col-md-12">
            <div class="item-container">
                <div class="data-form">
                    <div class="form-heading">
                        <h2>Update Facility</h2>
                    </div>
                    <form role="form" id="update-facility-form">
                        <input type="hidden" name="id" value="{{productId}}"/>
                        <input type="hidden" name="facilityId" value="{{productFacility._id}}"/>
                        <div class="form-group">
                            <label for="">Contact Name:</label>
                            <input type="textbox" name="facilityType" value="{{productFacility.facilityType}}" class="form-control required" placeholder="Facility Type"/>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="">Contact Number:</label>
                            <input type="textbox" name="facilityDescription" value="{{productFacility.facilityDescription}}" class="form-control required" placeholder="Facility Description"/>
                            <div class="clearfix"></div>
                        </div>

                        <button type="button" class="btn btn-default" id="update-facility">Submit</button>
                        <a href="/products/product/{{productId}}" title="Cancel" class="btn btn-default">Cancel</a>
                     </form>
                </div>
            </div>
        </div>
    </div>
</div>
