    <div class="item-container">
        <h2>Vendor Reports</h2>
        <div class="filter-container">
            <form class="form-inline">
                <div class="form-group">
                    <label>Vendor:</label>
                    <select id="vendorSelect" class="form-control form-control-lg">
                        <option value="">Select Vendor</option>
                        {{#each vendors}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </form>
        </div>
        <br/><br/>
        <table class="cell-border vacay-table" id="bookings">
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                    <th>Booking Date</th>
                    <th>Total Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each bookingList}}
                    <tr>
                        <td>{{this.vendor}}</td>
                        <td>{{this.firstName}}</td>
                        <td>{{this.lastName}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.contactNumnber}}</td>
                        <td>{{this.bookingDate}}</td>
                        <td>{{this.totalAmount}}</td>
                        <td>{{this.status}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
